## Imports and config

In [2]:
# Put these at the top of every notebook, to get automatic reloading and inline plotting
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import pandas as pd
import partridge as ptg
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
import datetime
import gtfstk as gt

from gtfs_utils import *

alt.renderers.enable('notebook')
alt.data_transformers.enable('json')

sns.set_style("white")
sns.set_context("talk")
sns.set_palette('Set2', 10)

In [8]:
gtfs_repo = 'data/gtfs_feeds/'
output_folder = 'data/gtfstk_stats/'
import os
os.listdir(gtfs_repo)

['2016-05-06.zip',
 '2017-01-01.zip',
 '2018-02-01.zip',
 '2018-02-02.zip',
 '2018-02-03.zip',
 '2018-02-04.zip',
 '2018-02-05.zip',
 '2018-02-06.zip',
 '2018-02-07.zip',
 '2018-02-08.zip',
 '2018-02-09.zip',
 '2018-02-10.zip',
 '2018-02-11.zip',
 '2018-02-12.zip',
 '2018-02-13.zip',
 '2018-02-14.zip',
 '2018-02-15.zip',
 '2018-02-16.zip',
 '2018-02-17.zip',
 '2018-02-18.zip',
 '2018-02-19.zip',
 '2018-02-21.zip',
 '2018-02-22.zip',
 '2018-02-23.zip',
 '2018-02-24.zip',
 '2018-02-25.zip',
 '2018-02-26.zip',
 '2018-02-27.zip',
 '2018-02-28.zip',
 '2018-04-25.zip',
 '2018-04-26.zip',
 '2018-05-01.zip',
 '2018-05-02.zip',
 '2018-05-15.zip']

In [6]:
date_list = [ '2018-02-01', ]
ts = []
rs = []
for d in date_list:
    feed = gt.read_gtfs(gtfs_repo+d+'.zip', dist_units='m')
    trip_stats = gt.compute_trip_stats(feed)
    ts.append(trip_stats)
    route_stats = feed.compute_route_stats(trip_stats, [d.replace('-', '')], split_directions=True )
    rs.append(route_stats)

In [7]:
rs[0].head()

,route_id,direction_id,route_short_name,route_type,num_trips,num_trip_starts,num_trip_ends,is_loop,start_time,end_time,...,peak_num_trips,peak_start_time,peak_end_time,service_distance,service_duration,is_bidirectional,service_speed,mean_trip_distance,mean_trip_duration,date
0,1,0,1,3.0,26.0,26.0,26.0,0.0,05:10:00,21:54:07,...,1.0,05:10:00,05:29:07,183170.0,8.283889,0,22111.595466,7045.0,0.318611,20180201
1,10,1,4,3.0,35.0,35.0,35.0,0.0,06:05:00,22:51:36,...,2.0,15:55:00,16:06:36,283920.0,12.600000,0,22533.333333,8112.0,0.360000,20180201
2,10000,0,91,3.0,1.0,1.0,1.0,0.0,08:00:00,08:17:31,...,1.0,08:00:00,08:17:31,6326.0,0.291944,0,21668.506185,6326.0,0.291944,20180201
3,10001,1,91,3.0,5.0,5.0,5.0,0.0,13:00:00,16:51:42,...,2.0,13:00:00,13:21:42,41880.0,1.808333,0,23159.447005,8376.0,0.361667,20180201
4,10002,0,92,3.0,1.0,1.0,1.0,0.0,07:30:00,07:53:03,...,1.0,07:30:00,07:53:03,7175.0,0.384167,0,18676.789588,7175.0,0.384167,20180201

In [12]:
ts[0].head()

,trip_id,route_id,route_short_name,route_type,direction_id,shape_id,num_stops,start_time,end_time,start_stop_id,end_stop_id,is_loop,duration,distance,speed
161982,29789140_300118,1,1,3,0,71053,18,05:05:00,05:24:07,38725,15745,0,0.318611,7045,22111.595466
162004,29789162_300118,1,1,3,0,71053,18,05:10:00,05:29:07,38725,15745,0,0.318611,7045,22111.595466
161983,29789141_300118,1,1,3,0,71053,18,05:30:00,05:49:07,38725,15745,0,0.318611,7045,22111.595466
162005,29789163_300118,1,1,3,0,71053,18,05:40:00,05:59:07,38725,15745,0,0.318611,7045,22111.595466
161984,29789142_300118,1,1,3,0,71053,18,06:00:00,06:19:07,38725,15745,0,0.318611,7045,22111.595466

In [10]:
os.mkdir(output_folder)

In [11]:
for d, t, r in zip(date_list, ts, rs):
    t.to_csv(output_folder+d+'_trip_stats.csv')
    r.to_csv(output_folder+d+'_route_stats.csv')

import gzip
for d, t, r in zip(date_list, ts, rs):
    with gzip.open('2014/seed11-csv 27.5.2018.merged.csv.gz', 'wb') as f:
        f.write(t.to_csv(None).encode('utf-8'))
        
    t.to_csv(output_folder+d+'_trip_stats.csv')
    r.to_csv(output_folder+d+'_route_stats.csv')